.search_filter_div{
   display: flex;
   justify-content: center;
   gap:10px;
}
.jobdata_Container{
  display: grid; 
  grid-template-columns: 300px 300px 300px; 
  gap: 20px; 
  justify-content: center; 
  margin:20px 0px;
}
.homeTitle{
  text-align: center;
  font-size: 30px;
  color: rgb(42, 165, 118);
}
.navbarHOme>a{
  text-decoration: none;
  color:white;
  font-size: 20px;
}
.eachJobBox{
  min-height:200px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  padding: 15px;
  line-height: 1;
}
.jobdata_Container>a{
  text-decoration: none;
  color:black
}
.JobDetailBox{
  width:70%;
  height:auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin:auto;
  padding:20px;
  margin-top:20px;
  margin-bottom:10px;
  border-radius:10px;
}
.JobDetailBoxFlex{
  display: flex;
  justify-content: space-between;
}
a{
  text-decoration: none;
}
.ApplyContainer{
  height:auto;
  width:300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin:auto;
  padding:20px;
  line-height:2;
  border-radius:10px;
}
.ApplyContainerinput{
  height:30px;
  width:100%;
  margin:5px 0px;
}
.radio{
  margin-right:15px
}
.submitbutton{
  height:30px;
  width:90px;
  border:none;
  background-color: rgb(47,125,50);
  color:white;
  align-self: center;
}